div.card {
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.262);
  border-radius: 10px;
  .title {
    height: 19%;
    color: white;
    button {
      width: 20px;
      height: 20px;
      font-size: 20px;
      margin-top: 10px;
      border-radius: 50%;
      background-color: transparent;
      bottom: 180px;
      right: 35px;
      z-index: 3;
    }
  }
  img {
    object-fit: cover;
    object-position: top;
    border: 3px solid black;
    width: 140px;
    height: 140px;
  }
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 180px;
  overflow: hidden;
  position: relative;
}
.right {
  height: 80%;
  width: 250px;
  overflow-y: hidden;
}

.card img:hover {
  height: 140%;
  width: 140%;
  z-index: 5;
  border: 2px solid #750000;
  border-radius: 10px;
}
